@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes enter {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.animate-enter {
  animation: enter 0.2s ease-out;
}
@keyframes leave {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.9);
    opacity: 0;
  }
}
.animate-leave {
  animation: leave 0.15s ease-in forwards;
}
.cursive-font {
  font-family: "Courgette", cursive;
}
