@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Titan+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .d-font-outline {
    -webkit-text-stroke: 1.5px rgba(255, 255, 255, 0.1);
  }
  .l-font-outline {
    -webkit-text-stroke: 1.5px rgba(0, 0, 0, 0.1);
  }
}

@keyframes enter {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.animate-enter {
  animation: enter 0.2s ease-out;
}
@keyframes leave {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.9);
    opacity: 0;
  }
}
.h-screen {
  height: 100svh !important;
}
.min-h-screen {
  min-height: 100svh !important;
}
.animate-leave {
  animation: leave 0.15s ease-in forwards;
}
.cursive-font {
  font-family: "Courgette", cursive;
}
.titan-font {
  font-family: "Titan One", sans-serif;
}
.bg_image--1 {
  background-image: url("/bg-image-1.jpg");
}
.bg_image {
  background-repeat: no-repeat;
  background-size: cover;
}

.mask1 {
  -webkit-mask-image: url("http://localhost:3001/avatar.png");
  mask-image: url("http://localhost:3001/avatar.png");
  -webkit-mask-size: 80%;
  mask-size: 80%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
.rounded-5xl {
  border-radius: 2rem;
}
